.home {
  cursor: pointer;
}
.about,
.home {
  position: relative;
}
.home-parent {
  position: absolute;
  top: 40px;
  left: 1014px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
}
.zenzone {
  position: absolute;
  top: 36px;
  left: 100px;
  font-size: var(--raleway-24px-medium-size);
  cursor: pointer;
}
.about-fit-o-pedia {
  position: absolute;
  top: 170px;
  left: 491px;
  font-size: var(--lora-48px-uppercase-size);
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--lora-48px-uppercase);
  color: var(--white);
}
.aboutheading {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 400px;
  overflow: hidden;
  background-image: url(./public/aboutheading@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.phfeather-light-icon {
  position: absolute;
  height: 61.33%;
  width: 38.33%;
  top: 20.11%;
  right: 30.83%;
  bottom: 18.56%;
  left: 30.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.our-purpose {
  position: absolute;
  top: 41px;
  left: 585px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--lora-48px-uppercase);
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 324px;
  left: 368px;
  font-size: var(--raleway-24px-medium-size);
  font-weight: 500;
  color: var(--primary-gray);
  text-align: center;
  display: inline-block;
  width: 705px;
  height: 252px;
}
.div {
  position: relative;
  font-weight: 600;
}
.parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1240px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.clients {
  position: relative;
  font-weight: 500;
}
.clients-parent {
  position: absolute;
  top: 61px;
  left: 0;
  width: 1240px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: var(--raleway-18px-bold-size);
  color: var(--light-gray);
}
.aboutmission,
.frame-parent {
  position: absolute;
  top: 733px;
  left: 100px;
  width: 1240px;
  height: 82px;
  font-size: var(--raleway-36px-semibold-size);
}
.aboutmission {
  top: 400px;
  left: 0;
  background-color: var(--light-blue);
  width: 1440px;
  height: 900px;
  overflow: hidden;
  font-size: var(--lora-48px-uppercase-size);
  color: var(--color-dimgray);
}
.fit-o-pedia-zenzone {
  position: absolute;
  top: 129px;
  left: 100px;
  font-weight: 600;
}
.emailinput-icon {
  position: absolute;
  top: 0;
  left: 610px;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  width: 90px;
  height: 60px;
  overflow: hidden;
}
.your-email-address {
  position: absolute;
  top: 20px;
  left: 52px;
  font-weight: 500;
}
.emailinput,
.homepagefooter {
  position: absolute;
  overflow: hidden;
}
.emailinput {
  top: 120px;
  left: 640px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white1);
  width: 700px;
  height: 60px;
  font-size: var(--raleway-18px-bold-size);
  color: var(--primary-gray);
}
.homepagefooter {
  top: 1300px;
  left: 0;
  background: linear-gradient(-90deg, #bb6cd7, #ae8ee3);
  width: 1440px;
  height: 300px;
  font-size: var(--raleway-36px-semibold-size);
}
.aboutpage {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  height: 1600px;
  overflow: hidden;
  text-align: left;
  font-size: var(--raleway-18px-bold-size);
  color: var(--color-white1);
  font-family: var(--raleway-36px-semibold);
}
